<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Data</h1>
    <form action="" method="post">
        <label for="">String</label>
        <input type="text" name="string" placeholder="String"><br />
        <label for="">Integer</label>
        <input type="integer" name="integer" placeholder="Integer"><br />
        <label for="">Float</label>
        <input type="float" name="float" placeholder="Float"><br />
        <label for="">Date</label>
        <input type="text" name="date" placeholder="end date"><br />
        <label for="">Boolean</label>
        <select class="custom-select" name="boolean">
            <option value="" selected>Choose the boolean ...</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select><br />
        <button type="submit">Save</button>
    </form>
</body>

</html>